#chat_log{
	width: 100%;
	max-height: 85vh;
	margin: 0 0 20px;
	border: solid 1px #999;
	overflow-y: scroll }
#controls{ width: 100% }
#input_text{ width: 85vw }
#send{ display: inline; width: 10vw; float: right }
